# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Scala CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: 'sbt'
    - name: Build and Test
      run: sbt -v +test
    - name: Install zip
      uses: montudor/action-zip@v1
    - name: Zip output
      run: zip -qq -r scbuild.zip ${{ github.workspace }}/target/
      working-directory: ${{ github.workspace }}/target/
     
    - name: Deploy to AWS S3
      uses: qoqa/action-s3-cp@v1.1
      env:
           AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
           AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
           AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
           AWS_REGION: 'us-east-1'
           AWS_S3_PATH: '/Sample/'
           FILE: '${{ github.workspace }}/target/scbuild.zip'

    
